body{
    margin: auto;
}

.header{
    background-color: rgb(87, 223, 87);
    color: #ffffff;
    text-align: center;
    padding: 1px
}

h1{
    text-align: center;
    color: #ffffff;
}

.navbar{
    background-color: rgb(60, 57, 57);
    color: #ffffff;
    padding: 10px
    /* word-spacing: 10px; */
}

.hello{
    word-spacing: 20px;
}

.link4{
    text-align: left;
}

.container {
    width: 90vw;
    height: 300px;
    /* margin: 30px auto; */
    background: #eee;
   
    display: flex;
  }
  
  .item {
    margin: 10px 0 0 10px;
    padding: 30px;
    background: rgb(170,170,170);
    color: white;
  }
  
  .item--4 {
    flex-grow: 1;
    background: rgb(170,170,170);
  }

  .item--1{

  }